@media (max-width: 1200px) {
    .promo {
        min-height: 450px;
        padding-bottom: 50px;
        &__wrapper {
            margin-top: 45px;
        }
        &__icons {
            margin-top: 25px;
        }
    }
    .button_main {
        margin-top: 22px;
    }
    .reasons {
        min-height: 425px;
        padding: 50px 0 50px 0;
        &__icons {
            margin-top: 45px;
        }
    }
}
@media (max-width: 991px) {
    .promo {
        padding: 10px 0 25px 0;
        min-height: 400px;
        &__wrapper {
            margin-top: 19px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 15px;
        }
        &__icon {
            width: 90px;
            font-size: 12px;
        }
        &__link {
            margin-top: 8px;
            font-size: 14px;
        }
    }
    .header {
        &__official {
            font-size: 11px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
            }
    }
    .button {
        height: 23px;
        width: 130px;
    }
    .button_main {
        margin-top: 15px;
        width: 250px;
        height: 40px;
        font-size: 14px;
    }
    .reasons {
        min-height: 360px;
        padding: 25px 0 25px 0;
        &__title {
            font-size: 25px;
        }
        &__icons {
            margin-top: 25px;            
        }
        &__icon {
            font-size: 12px;
            width: 230px;
            img {
                margin-bottom: 28px;
            }
            span {
                margin-bottom: 20px;
                font-style: 14px;
            }
        }

    }    

}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 45%;
        }
        &__official {
            display: none;
        }
        &__contacts {
            align-items: center;
            width: 45%;
        }        
    }
    .promo {
        min-height: 365px;
        &__header {
            font-size: 30px;
            margin-bottom: 0;
        }
        &__subheader {
            font-size: 15px;
        }
        &__wrapper {
            align-items: center;
            margin-top: 30px;
        }
        &__icons {
            margin-top: 15px;
            width: 60%;            
        }
        &__icon {
            width: 30%;
            font-size: 11px;
            img {
                margin-bottom: 10px;
            }
        }  
        &__link {
            font-size: 12px;
        }
    }          
    .button_main {
        margin-top: 15px;
        width: 220px;
        height: 35px;
        font-size: 12px;
    }
    .reasons {
        &__title {
            font-size: 20px;
        }
        &__icons {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__icon {
            font-size: 12px;
            width: 40%;
            padding: 15px 10px 0 10px;
            img {
                margin-bottom: 18px;
            }
            span {
                margin-bottom: 15px;
                font-size: 16px;
            }
        }
    }

}
@media (max-width: 575px) {
    .button_hide-xs {
        display: none;
    }
    .button_visible-xs {
        display: block;
        width: 90%;
        margin-top: 10px;
    }
    .header {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &__logo {
            width: 50%;
        }
        &__contacts {
            width: 50%;
        }
        &__phone {
            font-size: 18px;
        }
    }
    .promo {
        &__header {
            font-size: 23px;            
        }
        &__subheader {
            font-size: 12px;
        }
        &__icons {
            margin-top: 15px;
            width: 90%;
        }
        &_icon {
            img {
                margin-bottom: 10px;
            }
        }
        &__link {
            a {
                font-size: 16px;
            }
        }
    }
    .button_main {
        font-size: 15px;
    }
    .reasons {
        font-size: 20px;
        &__icon {
            width: 80%;
            a {
                font-size: 21px;
            }
        }

    }
}