.reasons {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        width: 250px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        span {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 29px;
        }
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }
}